{% extends "mail/base.html" %}
{% block content %}
	<p class="false"><span style="font-size: 16px;"><strong>Vielen Dank für Ihre Anfrage!</strong></span></p>
	<p class="false">&nbsp;</p>
	<p class="false">Wir haben Ihre Nachricht erhalten und werden uns in Kürze bei Ihnen melden. Unsere Vertriebsmitarbeiter sind bestrebt, Ihnen schnellstmöglich weiterzuhelfen und Ihnen die gewünschten Informationen bereitzustellen.<br class="false"><br class="false">Wir schätzen Ihr Interesse an unseren Produkten und Services und freuen uns darauf, Ihnen bei Ihren Anliegen behilflich sein zu können. Falls Sie in der Zwischenzeit weitere Fragen haben, zögern Sie bitte nicht, uns zu kontaktieren.</p>
{% endblock %}

{% block farewell %}
	<p class="false">
		Telefon: <a href="tel:498581999920" style=" outline: none; color: #000000; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; ;;;">+49 8581 99992 - 0</a><br class="false" />
		<br class="false" />
		Mit freundlichen Grüßen,
	</p>
	<p class="false"><br />
		Ihr PARAT-Vertriebsteam&nbsp;
	</p>
{% endblock %}
