{% extends "mail/base.html" %}
{% block content %}
	<p class="false"><span style="font-size: 16px;"><strong>Thank you for your message!</strong></span></p>
	<p class="false">&nbsp;</p>
	<p class="false">
		We have received your message and will get back to you shortly. Our sales staff will do their best to help you as quickly as possible and provide you with the information you require.<br class="false"><br class="false">
		We appreciate your interest in our products and services and look forward to assisting you with your request. In the meantime, if you have any further questions, please do not hesitate to contact us.</p>
{% endblock %}

{% block farewell %}
	<p class="false">
		Telephone: <a href="tel:498581999920" style=" outline: none; color: #000000; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; ;;;">+49 8581 99992 - 0</a><br class="false" />
		<br class="false" />
		With kind regards,
	</p>
	<p class="false"><br />
		Your PARAT sales team&nbsp;
	</p>
{% endblock %}
