{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% if self.solutions %}
	<div id="solutions_applications__overview">
		<div class="container my-5">
			<div class="col-md-10 row d-flex justify-content-center mb-5">
				<div class="col-md-10">
					<h2 class="preheadline">{{ self.pre_headline }}</h2>
					<h3 class="">{{ self.headline }}</h3>
				</div>
			</div>
			<div class="row g-4">
				{% for solution in self.solutions %}
					<a href="{% pageurl solution %}" class="col-md-6 col-lg-4 col-xl-3">
						<div class="card shadow">
							{% image solution.header_image height-288 as card_image %}
							<div class="card-img-top" style="background-image:url({{card_image.url}}); {{ image.background_position_style }}"></div>
							<div class="card-body">
								<h5 class="preheadline">{{ solution.card_headline }}</h5>
								<h6 class="card-title">{{ solution.card_subheadline }}</h6>
								<p class="card-text">{{ solution.card_text |richtext |truncatechars_html:128 }}</p>
							</div>
							<div class="card-footer">
								<span class="card-link">
									{{ self.link_text }}
								</span>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
