{% load footer_tags %}
{% load static i18n %}
{% load django_vite %}
{% load menu_tags %}
{% load wagtailsettings_tags %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailuserbar puput_tags %}
{% get_settings as wagtail_settings %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% firstof self.seo_title self.title %}</title>
        {% block social_share %}
        {% endblock social_share %}
        <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'images/favicons/180x180px.png' %}">
        {% block css %}{% endblock %}
        {% block javascript %}
        {% endblock javascript %}
        {% vite_hmr_client %}
        {% block tracking %}
            {% if wagtail_settings.core.AnalyticsSettings.ga_g_tracking_id %}
                <template id="analytics-scripts">
                    <script async
                            src="https://www.googletagmanager.com/gtag/js?id={{wagtail_settings.core.AnalyticsSettings.ga_g_tracking_id}}"></script>
                    <script>
					window.dataLayer = window.dataLayer || [];
					function gtag(){dataLayer.push(arguments);}
					gtag('js', new Date());
					gtag('config', '{{wagtail_settings.core.AnalyticsSettings.ga_g_tracking_id}}');

                    </script>
                </template>
            {% endif %}
        {% endblock tracking %}
        {% vite_asset "js/main.js" %}
    </head>
    <body id="page-{{ page.id }}" class="pt-{{ page.content_type.model }}">
        {% include "wagtailseo/struct_data.html" %}
        {% block menu %}
            {% main_menu %}
        {% endblock %}
        {# TODO: add login/register links #}
        {# TODO add messages to the correct position #}
        <div id="flash-messages" class="" up-hungry>
            {% if messages %}
                {% for message in messages %}
                    {% include "includes/django_message.html" %}
                {% endfor %}
            {% endif %}
        </div>
        <main>
            {% include "includes/cookie_banner.html" %}
            {% block content %}
            {% endblock content %}
        </main>
        {% block footer %}
            {% footer_tag %}
        {% endblock footer %}
        {% block inline_javascript %}
            <script>
				function font() {
					const endpoint = '/api/font/'
					var xhr = new XMLHttpRequest();
					xhr.open("GET", endpoint, true);
					xhr.send();
				}
				font();
            </script>
        {% endblock inline_javascript %}
    </body>
</html>
